<%-#Sample Interview Questions -%>
<header class="welcomeheader">
    <h1>Interview Questions</h1>
</header>
<%-# List of Questions -%>
<br>
<ul>
<li id = "list">Give an example of an occasion when you used logic to solve a problem.</li>
<li id = "list">Give an example of a goal you reached and tell me how you achieved it.</li>
<li id = "list">Give an example of a goal you didn't meet and how you handled it.</li>
<li id = "list">Describe a stressful situation at work and how you handled it.</li>
<li id = "list">Tell me about how you worked effectively under pressure.</li>
<li id = "list">How do you handle a challenge?</li>
<li id = "list">Have you been in a situation where you didn't have enough work to do?</li>
<li id = "list">Have you ever made a mistake? How did you handle it?</li>
<li id = "list">Describe a decision you made that was unpopular and how you handled implementing it.</li>
<li id = "list">Did you ever make a risky decision? Why? How did you handle it?</li>
<li id = "list">Did you ever postpone making a decision? Why?</li>
<li id = "list">Have you ever dealt with company policy you weren't in agreement with? How?</li>
<li id = "list">Have you gone above and beyond the call of duty? If so, how?</li>
<li id = "list">When you worked on multiple projects how did you prioritize?</li>
<li id = "list">How did you handle meeting a tight deadline?</li>
<li id = "list">Give an example of how you set goals and achieve them.</li>
<li id = "list">Did you ever not meet your goals? Why?</li>
<li id = "list">What do you do when your schedule is interrupted? Give an example of how you handle it.</li>
<li id = "list">Have you had to convince a team to work on a project they weren't thrilled about? How did you do it?</li>
<li id = "list">Give an example of how you've worked on a team.</li>
<li id = "list">Have you handled a difficult situation with a co-worker? How?</li>
<li id = "list">What do you do if you disagree with a co-worker?</li>
<li id = "list">Share an example of how you were able to motivate employees or co-workers.</li>
<li id = "list">Do you listen? Give an example of when you did or when you didn't listen.</li>
<li id = "list">Have you handled a difficult situation with a supervisor? How?</li>
<li id = "list">Have you handled a difficult situation with another department? How?</li>
<li id = "list">Have you handled a difficult situation with a client or vendor? How?</li>
<li id = "list">What do you do if you disagree with your boss?</li>
</ul>