<h1>Interview Questions</h1>
<ul>
<li>Give an example of an occasion when you used logic to solve a problem.</li>
<li>Give an example of a goal you reached and tell me how you achieved it.</li>
<li>Give an example of a goal you didn't meet and how you handled it.</li>
<li>Describe a stressful situation at work and how you handled it.</li>
<li>Tell me about how you worked effectively under pressure.</li>
<li>How do you handle a challenge?</li>
<li>Have you been in a situation where you didn't have enough work to do?</li>
<li>Have you ever made a mistake? How did you handle it?</li>
<li>Describe a decision you made that was unpopular and how you handled implementing it.</li>
<li>Did you ever make a risky decision? Why? How did you handle it?</li>
<li>Did you ever postpone making a decision? Why?</li>
<li>Have you ever dealt with company policy you weren't in agreement with? How?</li>
<li>Have you gone above and beyond the call of duty? If so, how?</li>
<li>When you worked on multiple projects how did you prioritize?</li>
<li>How did you handle meeting a tight deadline?</li>
<li>Give an example of how you set goals and achieve them.</li>
<li>Did you ever not meet your goals? Why?</li>
<li>What do you do when your schedule is interrupted? Give an example of how you handle it.</li>
<li>Have you had to convince a team to work on a project they weren't thrilled about? How did you do it?</li>
<li>Give an example of how you've worked on a team.</li>
<li>Have you handled a difficult situation with a co-worker? How?</li>
<li>What do you do if you disagree with a co-worker?</li>
<li>Share an example of how you were able to motivate employees or co-workers.</li>
<li>Do you listen? Give an example of when you did or when you didn't listen.</li>
<li>Have you handled a difficult situation with a supervisor? How?</li>
<li>Have you handled a difficult situation with another department? How?</li>
<li>Have you handled a difficult situation with a client or vendor? How?</li>
<li>What do you do if you disagree with your boss?</li>
</ul>