<%-# commenter -%>
<p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
</p>
 <%-#comment -%>
<p>
    <strong>Comment:</strong>
    <%= comment.body %>
</p>
<%-#Destroy the comment  -%>
<p>
    <%= link_to 'Destroy Comment', [comment.tip, comment],
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
</p>

