<header class="welcomeheader">
  <h1 class= "header">Interview Assistant</h1>
  <p class="description">Expert help on professional interviews</p>
</header>

<br>
    <h2>What do we do?</h2>
    <div class="row">
        <div class="column">
            <p>
                Hello! Welcome to the Interview Assistant, where all the answers related to professional interviews are answered. We know that interviews can be quite scary, especially if it is your first time.
                With our tips and interview questions, we can alleviate any anxiety you might have towards the interview process. Our interview questions will cover a variety of topics including salary inquiries and
                behavioral questions, which are extremely common. Going through are our interview questions and creating customized responses for them will be incredibly helpful to your success in hunting for either
                jobs, internships, or co-ops. Our tips, which come from both our personal experiences and professionals, will provide their insight as well. It will prepare you for situations that you may not be ready for
                We are here to aid in your pursuit of success.
            </p>
        </div>
        <div class="column">
            <img src="https://images.unsplash.com/photo-1507679799987-c73779587ccf?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2f2507356905735cb7d15583034c7faa&auto=format&fit=crop&w=500&q=60" alt="Interview Image" style="width:100%">
        </div>
    </div> 
    
    <br>
        <br>
            <br>
    <h2>Who are we?</h2>
    <p>
        This is a project for ITSC 3155 Software Engineering course. Our group name is <strong>Yeethaw</strong>. Our group members are: Joshua Sun, Reginald Harper, Ria Mahajan, and Alexander Huynh. 
        This project was created implementing Ruby, HTML, cascading style sheets, Ruby on Rails Framework, and the agile development process.
    </p>



