 <div class="topnav">
  <a class="active" href="#home">Home</a>
  <a href="#about">About</a>
  <a href="#tips">Tips</a>
  <a href="#questions">Interview Questions</a>
</div> 

<header class="welcomeheader">
  <h1 class= "header">Interview Assistant</h1>
  <p class="description">Expert help on professional interviews</p>
</header>

<div class="clearfix">
  <div class="box">
   
    <p>
        Hello! Welcome to the Interview Assistant, where all the answers related to professional interviews are answered. We know that interviews can be quite scary, especially if it is your first time.
        With our tips and interview questions, we can alleviate any anxiety you might have towards the interview process. Our interview questions will cover a variety of topics including salary inquiries and
        behavioral questions, which are extremely common. Our tips come from not only us. Professionals around the world will provide their insight as well.</p>
  </div>

    <img class="welcomeimage" src="https://images.pexels.com/photos/401684/pexels-photo-401684.jpeg?cs=srgb&dl=adult-blur-brainstorming-401684.jpg&fm=jpg" width="500">
  
</div>




<footer>Powered by Yeet-Haw</footer>

