 <div class="topnav">
  <a class="active" href="#home">Home</a>
  <a href="#about">About</a>
  <a href="#tips">Tips</a>
  <a href="#questions">Interview Questions</a>
</div> 

<header class="welcomeheader">
  <h1 class= "header">INTERVIEW ASSISTANT</h1>
  <p class="description">Expert help on professional interviews</p>
</header>

<img class="" src="https://cdn.lynda.com/course/461033/461033-636167167129049368-16x9.jpg" width="500">

<p>
    Hello! Welcome to the Interview Assistant, where all the answers related to professional interviews are answered. We know that interviews can be quite scary, especially if it is your first time.
    With our tips and interview questions, we can alleviate any anxiety you might have towards the interview process. Our interview questions will cover a variety of topics including salary inquiries and
    behavioral questions, which are extremely common. Our tips come from not only us. Professionals around the world will provide their insight as well.
</p>

<footer>Powered by Yeet-Haw</footer>

