@import "bootstrap-sprockets";
@import "bootstrap";

// this css file consists of formatting that will apply to all tabs (universal formatting)

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

// navigation bar


// typography 

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 17px;
  line-height: 1.7em;
}

#list {
  font-size: 17px;
  line-height: 1.7em;
}

// formatting for all the headers

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

table {
    margin-left: auto;
    margin-right: auto;
}

th {
    text-decoration: underline;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 17px;
}

td {
    padding-right: 20px;
    padding-left: 20px;
    font-size: 17px;
    line-height: 25px;
}

// formatting for links inserted
a {
    color: gray;
}

a:hover {
    color: black;
}

form {
    margin-left: auto;
    margin-right: auto;
}


// footer

footer {
    position: relative;
    bottom: 0;
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
  color: black;
}

input[type=text] {
    width: 100%;
    padding: 12px 12px;
    border: 2px solid #ccc;
    background-color: #f8f8f8;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 12px;
    border: 2px solid #ccc;
    background-color: #f8f8f8;
    resize: none;
}