// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    background-color: #96858F ;
    color: white;
    font-family: Arial;
}

h1 {
    color: white;
    font-family: Arial;
}


/* Add a black background color to the top navigation */
.topnav {
    background-color: #9099A2;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #6D7993;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #6D7993;
    color: white;
}


