// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    background-color: #D5D5D5 ;
    color: black;
    font-family: Arial;
   
}

footer {
    text-align: center;
}

img {
    float: right;
    padding: 25px 25px 25px 25px;
}

header {
    padding:60px 16px;
}
header.welcomeheader {
    background-color: #96858F;
}

h1.header {
    color: white;
    font-size: 80px;
    text-align: center;
    font-family: "Lato", sans-serif
}

p.description {
    text-align: center;
    color: white;
    font-size: 17px;
    padding: 0px;
}
p {
    font-size: 17px;
    float: none;
    line-height: 25px;
    padding: 25px 25px 25px 25px;
}


/* Add a black background color to the top navigation */
.topnav {
    background-color: #9099A2;
    overflow: hidden;
  
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #6D7993;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #6D7993;
    color: white;
}



