<%-#Editing the tips  -%>
<header class="welcomeheader">
    <h1>Editing Tip</h1>
</header>
<br>
<%-# calls on the form partial to render the view -%> 
<%= render 'form' %>
 
<%= link_to 'Back', tips_path %>